body {
  background-color: orange;
}

h1 {
  color: white;
}

p{
  font-family :verdana;
  font-size: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
h1	{ font-family: 'Dancing Script', cursive;}
